### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
filepath = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df_purchase_data = pd.read_csv(filepath)

## Player Count

* Display the total number of players

In [4]:
player_count = df_purchase_data['SN'].nunique()
df_player_count = pd.DataFrame({'Total Players':[player_count]})
df_player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
item_count = df_purchase_data['Item ID'].nunique()
average_price = '${:,.2f}'.format(df_purchase_data['Price'].mean())
purchase_count = len(df_purchase_data['Purchase ID'])
total_revenue =  '${:,.2f}'.format(df_purchase_data['Price'].sum())
df_summ_purchase_analysis = pd.DataFrame({'Number of Unique Items':[item_count],
                                         'Average Price':average_price,
                                         'Number of Purchases':[purchase_count],
                                         'Total Revenue':total_revenue})
df_summ_purchase_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
gender_counts = df_purchase_data[['SN','Gender']].drop_duplicates()['Gender'].value_counts()
df_count_by_gender =  pd.DataFrame({"Total Count": gender_counts})
df_count_by_gender['Percentage of Players'] = df_count_by_gender['Total Count']/df_count_by_gender['Total Count'].sum()
df_count_by_gender.style.format({'Percentage of Players':'{:.2%}'})

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:

group_by_sn_gender = df_purchase_data.groupby(['Gender','SN'])

grouped_purchase = pd.DataFrame({'Purchase Count': group_by_sn_gender["Gender"].count(),
                   'Total Purchase': group_by_sn_gender["Price"].sum()}).groupby(['Gender'])


df_purchase_by_gender = pd.DataFrame({'Purchase Count':grouped_purchase["Purchase Count"].sum(),     
                                       'Average Purchase Price': grouped_purchase["Total Purchase"].sum()/grouped_purchase["Purchase Count"].sum(), 
                                       'Total Purchase Value': grouped_purchase["Total Purchase"].sum(),
                                       'Average Total Purchase per Person':grouped_purchase["Total Purchase"].mean()                   
                                      })


df_purchase_by_gender.style.format({ 'Average Purchase Price': '${:,.2f}',
                                                            'Total Purchase Value': '${:,.2f}',
                                                            'Average Total Purchase per Person': '${:,.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
bin_ages = [0,9,14,19,24,29,34,39,100]
bin_ages_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
df_purchase_data['Age Ranges'] = pd.cut(df_purchase_data[['SN','Age']].drop_duplicates()['Age'], bin_ages, labels = bin_ages_labels)
grouped_age_bracket = df_purchase_data.groupby('Age Ranges')
df_groupby_age_bracket = pd.DataFrame({'Total Count': grouped_age_bracket['Age'].count(),
                                      'Percentage':  grouped_age_bracket['Age'].count()/grouped_age_bracket['Age'].count().sum()})
df_groupby_age_bracket.style.format({'Percentage':'{:.2%}'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
df_purchase_data['Age Ranges'] = pd.cut(df_purchase_data[['SN','Age']]['Age'], bin_ages, labels = bin_ages_labels)


group_by_sn_agebracket = df_purchase_data.groupby(['Age Ranges','SN'])    


grouped_purchase_by_agebracket = pd.DataFrame({'Purchase Count': group_by_sn_agebracket["Age Ranges"].count(),
                   'Total Purchase': group_by_sn_agebracket["Price"].sum()}).groupby(['Age Ranges'])


df_purchase_by_agebracket = pd.DataFrame({'Purchase Count':grouped_purchase_by_agebracket["Purchase Count"].sum(),     
                                       'Average Purchase Price': grouped_purchase_by_agebracket["Total Purchase"].sum()/grouped_purchase_by_agebracket["Purchase Count"].sum(), 
                                       'Total Purchase Value': grouped_purchase_by_agebracket["Total Purchase"].sum(),
                                       'Average Total Purchase per Person':grouped_purchase_by_agebracket["Total Purchase"].mean()                   
                                      })


df_purchase_by_agebracket.style.format({ 'Average Purchase Price': '${:,.2f}',
                                                            'Total Purchase Value': '${:,.2f}',
                                                            'Average Total Purchase per Person': '${:,.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
group_by_sn = df_purchase_data.groupby(['SN'])

df_top_spenders = pd.DataFrame({'Purchase Count':group_by_sn['SN'].count(),
                                'Average Purchase Price':group_by_sn['Price'].sum()/group_by_sn['SN'].count(),
                                'Total Purchase Value': group_by_sn['Price'].sum()
                                }).sort_values('Total Purchase Value', ascending=False).head()

df_top_spenders.style.format({ 'Average Purchase Price': '${:,.2f}',
                                                'Total Purchase Value': '${:,.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
group_by_item = df_purchase_data.groupby(['Item ID', 'Item Name'])

df_popular_item = pd.DataFrame({'Purchase Count':group_by_item['Item ID'].count(),
                                'Item Price':group_by_item['Price'].mean(),
                                'Total Purchase Value': group_by_item['Price'].sum()
                                })

df_popular_item.sort_values('Purchase Count', ascending=False).head().style.format({ 'Item Price': '${:,.2f}',
                                                'Total Purchase Value': '${:,.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [22]:
df_popular_item.sort_values('Total Purchase Value', ascending=False).head().style.format({ 'Item Price': '${:,.2f}',
                                                'Total Purchase Value': '${:,.2f}'})